<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
    <h5 class="text-dark bg-light p-4 mb-0">編集画面</h5>
    <div class="form-body p-4">
    <%= form_with model: @post,url: update_post_path(@post.id), method: :patch do |f| %>
    <div class="input-group mb-0 ">
      <div class="input-group-prepend">
      </div>
    </div>
    <div class="field">
    投稿画像<br>
    <%= f.file_field :image, accept: "image/*"%>
    </div>
    <div class="field">
    店舗名<br>
    <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="field">
    店舗URL<br>
    <%= f.text_field :url, class: "form-control" %>
    </div>
    <div class="field">
    コメント<br>
    <%= f.text_area :introduction, class: "form-control" %>
    </div>
    <div class="field">
    駐車場<br>
    <%= f.text_field :parking, class: "form-control" %>
    </div>
    <%= f.submit '保存', class: "btn btn-lg btn-block btn-info mt-4" %>
    <% end %>
    </div>
    </div>
  </div>
</div>