<table>
  <tr>
   <td><%= image_tag @post.get_image %></td>
  </tr>
  
  <tr>
   <th>店舗名</th>
   <td><%= @post.name %></td>
  </tr>
  
  <tr>
   <th>店舗URL</th>
   <td><%= @post.url %></td>
  </tr>
  
  <tr>
   <th>コメント</th>
   <td><%= @post.introduction %></td>
  </tr>
  
  <tr>
   <th>駐車場</th>
   <td><%= @post.parking %></td>
  </tr>
  <tr>
    <th>投稿日</th>
   <td><%= @post.created_at.strftime('%Y/%m/%d') %></td>
  </tr>
<table>
<% if @post.user == current_user %>
  <%= link_to "編集", edit_post_path(@post.id) %>
  <%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>

  <% if @post.favorited_by?(current_user) %>　<!-- いいね機能 -->
    <p>
      <%= link_to post_favorite_path(@post), method: :delete do %>
        ♥<%= @post.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_favorite_path(@post), method: :post do %>
        ♡<%= @post.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>

<div>
 <p>コメント件数：<%= @post.post_comments.count %></p><!-- コメント機能 -->
  <% @post.post_comments.each do |post_comment| %>
    <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
    <%= post_comment.user.login_name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
    <% if post_comment.user == current_user %>
      <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@post, @post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>
